  <%= @book.title %><br />
  <%= @book.author %> <br />
  <%= @book.genre %><br />

  <h2>Books</h2>
  <ul>
  <% @books.each do |book| %>
    <li><a href="/books/<%=book.id%>"><%= book.title %></a></li>
  <% end%>
  </ul>
  <a href="/books/<%=@book.id%>/edit">Edit</a>
  <br />
  <a href="/books/<%=@book.id%>/delete">Delete</a>
  <br />