  <h1>Current Reading List</h1>
    <br />
    <li><a href="/books/index">Books Index</li></a>
    <li><a href="/books/show">Your Reading List</li></a>
    <li><a href="/books/new">Add A New Book</li></a>
    <br />
    <br />
  <h2>Books</h2>
    <% if @books != nil%>
    <% @books.each do |book| %>
      <br />
      <li><%= book.title %></li>
      <li><%=book.author%></li>
      <li><%=book.genre%></li>
    <a href="/books/<%=book.id%>/edit">Edit</a>
    <a href="/books/<%=book.id%>/delete">Delete</a>
    <br />
    <% end%>
    <% end%>

  